*{
    font-size: 40pt;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width:75%;
    margin:auto;
}

#header{
    width:100%;
    margin:10px;
    background-color: beige;
}
#gamePlay{
    width:100%;
    margin:10px;
    background-color: beige;
}
#controls{
    width:100%;
    margin:10px;
    background-color: beige;
}

.heading{
    color:blue;
    border-bottom: blue 5px solid;
    margin-bottom: 15px;
}


#progress{
    display: block;
    float:right;
    padding: 25px;
    border-radius: 50px;
    background-color: darkgrey;
}
.comp{
    margin:10px;
    display: block;
    float: left;

}


